<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDatabase</servlet-name>
        <servlet-class>CreateDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessAuthentication</servlet-name>
        <servlet-class>MessAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAllMembers</servlet-name>
        <servlet-class>com.nub.db.InsertAllMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.nub.db.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addmeal</servlet-name>
        <servlet-class>com.nub.db.Addmeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMeal</servlet-name>
        <servlet-class>com.nub.db.AllMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessConnect</servlet-name>
        <servlet-class>com.nub.db.MessConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBazar</servlet-name>
        <servlet-class>com.nub.db.AddBazar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPayment</servlet-name>
        <servlet-class>com.nub.db.AddPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMember</servlet-name>
        <servlet-class>com.nub.db.AllMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllBazar</servlet-name>
        <servlet-class>com.nub.db.AllBazar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculation</servlet-name>
        <servlet-class>com.nub.db.Calculation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPayment</servlet-name>
        <servlet-class>com.nub.db.AllPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDatabase</servlet-name>
        <url-pattern>/CreateDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessAuthentication</servlet-name>
        <url-pattern>/MessAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAllMembers</servlet-name>
        <url-pattern>/InsertAllMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addmeal</servlet-name>
        <url-pattern>/Addmeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMeal</servlet-name>
        <url-pattern>/AllMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessConnect</servlet-name>
        <url-pattern>/MessConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBazar</servlet-name>
        <url-pattern>/AddBazar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPayment</servlet-name>
        <url-pattern>/AddPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMember</servlet-name>
        <url-pattern>/AllMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllBazar</servlet-name>
        <url-pattern>/AllBazar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculation</servlet-name>
        <url-pattern>/Calculation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPayment</servlet-name>
        <url-pattern>/AllPayment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
